*{margin: 0px;
    padding: 0px;
    box-sizing: border-box;}
    body{
        width: 100wh;
        height: 100vh;
    }
    #juli-main{
        position: relative;
        width: 100%;
        height: 100%;
        min-height: auto;
        background-image: url(../img/juli_main_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #juli-main::before{
        position: absolute;
        content:"";
        top: 0%;
        bottom: 0%;
        right: 0%;
        left: 0%;
        pointer-events: none;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .juli-h2-box{
        margin-bottom: 56px;
        position: relative;
    }
    .juli-h2-box > h2{
        font-family: "Lato", Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: white;
        font-size: 28px;
    }
    .juli-box-form{
        display: flex;
        justify-content: center;
        width: 479.99px;
        height: 412px;
        padding: 0px 15px;
        position: relative;
    }
    .juli-box-form > form > .juli-h3-box{
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
    }
    .juli-box-form > form > .juli-h3-box > h3{
        font-family: "Lato", Arial, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: white;
        font-size: 28px;
    }
    .juli-username-input-box{
        width: 349.99px;
        height: 50px;
        margin-bottom: 16px;
    }
    .juli-username-input-box > input{
        background-color: #FFFFFF14;
        border-radius: 40px;
        width: 100%;
        height: 100%;
        padding: 6px 20px;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        color: #CDD4DB;
        border: none;
    }
    .juli-username-input-box > input::placeholder{
        color: #CCD4DB;
    }
    .juli-username-input-box > input:focus{
        border: none;
        outline: none;
    }
    .juli-password-input-box{
        position: relative;
        width: 349.99px;
        height: 50px;
        margin-bottom: 16px;
    }
    .juli-password-input-box > i{
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        cursor: pointer;
        color: rgba(255, 255, 255, 0.9);
    } 
    .juli-password-input-box > input{
        background-color: #FFFFFF14;
        border-radius: 40px;
        width: 100%;
        height: 100%;
        padding: 6px 20px;
        font-family: "Lato", Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        border: none;
    }
    .juli-password-input-box > input::placeholder{
        color: #CCD4DB;
    }
    .juli-password-input-box > input:focus{
        outline: none;
        border: none;
    } 
    .juli-sign-in-box-bttn{
        width: 349.99px;
        height: 50px;
        margin-bottom: 16px;
    }
    .juli-sign-in-box-bttn > button{
        width: 100%;
        height: 100%;
        border-radius: 40px;
        border: none;
        background-color: #FBCEB5;
    }
    .juli-remember-forgot-box{
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }
    .juli-remember-box{
        display: flex;
        align-items: center;
    }
    .juli-remember-box > label{
        display: flex;
        align-items: center;
        gap: 10px;
        color: #FBCEB5;
        font-family: "Lato", Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
    }
    .juli-remember-box > label > input{
        width: 17.15px;
        height: 36px;
    }
    .juli-forgot-box{
        display: flex;
        align-items: center;
    }
    .juli-forgot-box > a{
        font-family: "Lato", Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        color: #EEEEEF;
        text-decoration: none;
    }
    .juli-osiw-text{
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
    }
    .juli-osiw-text > p{
        font-family: "Lato", Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-family: 16px;
        color: #E6E9ED;
        text-align: center;
    }
    .juli-facebook-twitter-box{
        display: flex;
        gap: 8px;
    }
    .juli-facebook-box{
        width: 170.99px;
        height: 46.4px;
    }
    .juli-facebook-box > button{
        width: 100%;
        height: 100%;
        border-radius: 0.25rem;
        border: none;
        font-family: "Lato", Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-family: 16px;
    }
    .juli-facebook-box > button:hover{
        background-color: black;
        color: white;
    }
    .juli-twitter-box{
        width: 170.99px;
        height: 46.4px;
    }
    .juli-twitter-box > button{
        width: 100%;
        height: 100%;
        border-radius: 0.25rem;
        border: none;
        font-family: "Lato", Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-family: 16px;
    }
    .juli-twitter-box > button:hover{
        background-color: black;
        color: white;
    }
    
    